<footer id="footer">
    <div class="container">
        <div class="footerLinks clearfix ">
            <div class="footerColumn ">
                <h4>title</h4>
                <ul>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                </ul>
            </div>
            <div class="footerColumn ">
                <h4>title</h4>
                <ul>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                </ul>
            </div>
            <div class="footerColumn ">
                <h4>title</h4>
                <ul>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                </ul>
            </div>
            <div class="footerColumn ">
                <h4>title</h4>
                <ul>
                    <li>
                        <a href="# ">link1</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyRight ">
            <p>©2006-2015 Describeslef.com</p>
        </div>
    </div>

</footer>
