<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

    </style>
</head>

<body>
    <header id="headerNav">
        <div class="container">
            <ul class="nav">
                <li><a href="#work">work</a></li>
                <li><a href="#work">we</a></li>
                <li><a href="#work">contact</a></li>
                <li><a href="#work">message</a></li>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="joinUs">
            <h3>we need you join us</h3>
            <div class="more">
                <a href="#gotojoinus" class="join">JOIN US</a><a href="#more" class="learn">Learn more</a>
            </div>
        </div>
        <article></article>
        <article></article>
        <article></article>
    </div>

    <% include footer.html %>
</body>

</html>
