/***********************reset****************************/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/***********************global****************************/
html, body{
    height: 100%;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container{
    max-width: 966px;
    margin: 0 auto;
}
a {
    color: #00B7FF;
    text-decoration: none;
}
.clearfix{
    zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}

/***********************header****************************/
#headerNav{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
   /* background: none repeat scroll 0 0 #0C182D*/
}
#headerNav .container{
    margin: 0 auto;
    position: relative;
}
#headerNav .nav{
    float: right;
    margin-top: 30px;
}
#headerNav .nav:before{
    content: "Logo";
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -20px;
}
#headerNav .nav li{
    display: inline-block;
    margin-left: 40px;
}
#headerNav .nav a{
    color: rgba(255, 255, 255, 0.5);
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
     padding: 0 20px;
}
#headerNav .nav .active{
    color: rgba(255, 255, 255, 1);
}
#headerNav .nav a:hover{
     color: rgba(255, 255, 255, 1);
}
#headerNav .nav .focus{
    border: 2px solid #e3e3e3;
    border-radius: 10px;
}
/***********************main****************************/

@-webkit-keyframes 'backgroundMove' {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000% 0;
    }
}
@-moz-keyframes 'backgroundMove' {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000% 0;
    }
}
@-ms-keyframes 'backgroundMove' {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000% 0;
    }
}
@-o-keyframes 'backgroundMove' {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000% 0;
    }
}


.joinUsBg {
    animation: 'backgroundMove' 100s linear  3s infinite normal;
    -webkit-animation: 'backgroundMove' 100s linear  3s infinite normal;
    -moz-animation: 'backgroundMove' 100s linear  3s infinite normal;
    -ms-animation: 'backgroundMove' 100s linear  3s infinite normal;
    -o-animation: 'backgroundMove' 100s linear  3s infinite normal;

}
.main .home{
    width: 100%;
    height: 100vh;
    min-height: 350px;
    background: none repeat scroll 0 0 #5cc1af;
    min-height: 280px;
}

.main .joinUs {
    margin: 0 auto;
    max-width: 966px;
    height: 100%;
    position: relative;

}

.joinUs h3 {
    width: 100%;
    position: absolute;
    font-size: 60px;
    top: 40%;
    text-align: center;
    color: rgba(255,255,255, 1);
    z-index: 2;
}

.joinUs .more {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.joinUs .join,
.joinUs .learn {
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    width: 25%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 25px;
    margin-left: 40px;
}
.joinUsBg{
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    opacity: 0.1;
    background: url('/images/logos-24-black.png') repeat-x scroll 0 0 transparent;
}
.main .work article{
    margin: 20px 0;
}
.main .work .title{
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.main .work .title:before,
.main .work .title:after{
    content: "";
    display: inline-block;
    border-top: 1px solid #47D5EF;
    background: none repeat scroll 0 0 #47D5EF;
    width: 10%;
}
.main .work .title:before{
    float: left;
}
.main .work .title:after{
    float: right;
}
article section{
    position: relative;
}
article section p{
    padding: 20px;
    width: 50%;
    line-height: 24px;
    font-size: 16px;
}
article section .imgageWrapper{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50px;
    overflow: hidden;
    margin: 20px;
    -webkit-shape-outside: circle();
    -moz-shape-outside: circle();
    -ms-shape-outside: circle();
    -o-shape-outside: circle();
    shape-outside: circle();
}
article section img{

}
/***********************footer****************************/
#footer{
    padding-top: 60px;
    background: none repeat scroll 0 0 #f2f5f8;
    color: #939393;
}
.footerLinks:before {
    content: "logo";
    display: block;
    width: 90px;
    height: 90px;
    background: #999;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    line-height: 90px;
}
.footerColumn {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}
.footerColumn h4{
    font-size: 18px;
    line-height: 30px;
    color: #323232;
    font-weight: 700;

}
.footerColumn ul li{
    display: block;
    line-height: 24px;
}
.footerColumn ul li a{
    color: #939393;
}
.copyRight{
    border-top: 1px solid #e3e3e3;
}
.copyRight p{
    text-align: center;
    line-height: 60px;
}




